<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Information</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/icon-bookdirect.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="admin-bg">
    {% include 'nav.html' %}

    <div class="user-header"></div>
    
    <div class="table-container">
        <h2>Inventory Information</h2>
        <table>
            <thead>
                <tr>
                    <th>City</th>
                    <th>Room Type</th>
                    <th>Bed Type</th>
                    <th>Available Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventories %}
                    <tr>
                        <td>{{ inventory.hotel.city }}</td>
                        <td>{{ inventory.room_type.type_name }} Room</td>
                        <td>{{ inventory.bed_type.bed_type }}</td>
                        <td>{{ inventory.available_quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
